<nav>
    <div class="container">
        <a href="/">Home</a>
        <a href="">About</a>
        <a href="">Forums</a>
        <a href="">Reviews</a>
        <a href="">What's new</a>       
        <a href="">Log in</a>
        <a href="/register">Sing up</a>
    </div>
</nav>


