<nav class="nav">
    <div class="nav-container">
        <div class="left-links">
            <a href="/" data-tooltip="Home"><i class="bi bi-house"></i></a>
            <a href="" data-tooltip="Forums"><i class="bi bi-menu-down"></i></a>
            <a href="" data-tooltip="What's New"><i class="bi bi-bookmark-star"></i></a>       
            <a href="" data-tooltip="Help"><i class="bi bi-question-circle"></i></a>
            <div class="search">
                <a href=""><i class="bi bi-search"></i></a>
                <input class="serach" type="text" placeholder="Search movies, topics, celebrities...">
            </div>
        </div>
        <div>
            <div class="right-links">
                <a href="">Log in</a>
                <a class="frame" href="/register">Sign up</a>
            </div>
            <div class="right-links-logo">
                <a href=""><i class="bi bi-box-arrow-in-right"></i></a>
                <a href="/register"><i class="bi bi-person"></i></a>
            </div>
        </div>
    </div>
</nav>
