<tr>
	<td class="col-6">
		<div class="post">
			<img src="https://placehold.co/300x300"/>
			<div class="topic-details">
				<p class="topic"><a href=""><%= post.title %></a></p>
				<!-- <a class="topic" href="">Movie You're Watching Tonight?</a> -->
				<p class="author">Author: <a href="">Simonak</a></p>
			</div>
		</div>
	</td>

	<td class="col-1">
		<div class="single-number"><%= post.commentsCount %></div>
	</td>

	<td class="col-1">
		<div class="single-number"><%= post.commentsCount %></div>
	</td>

	<td class="col-4">
		<div class="last-post">
			<div>
				<span>by&nbsp</span>
				<span class="author"><a href=""class="author-outline">Simonak</a></span>
			</div>
			<div class="date">Tue Mar 21, 2017 08:50</div>
		</div>
	</td>
</tr>