    <div class="intro">
        <img src="public/pictures/dance.png" alt="Dance">
        <p class="title">PulpCinemaHub&nbsp&nbsp<span>Discuss Movies, TV Shows & Celebrities</span></p>
    </div>
    <br>