    <div class="intro">
        <div class="img-container">
            <img src="../public/pictures/dance.png" alt="Dance">
        </div>
        <p class="title">PulpCinemaHub&nbsp;<span class="description">Discuss Movies & TV Shows</span></p>
    </div>


