<!-- siame dukemnte patekiami duomenys is serverio -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="public/Pulp.webp">
    <link rel="stylesheet" href="public/main.css">
</head>
<body>
    <%- include("./components/nav-bar.ejs") %>
    <div class="container">
    <img src="public/dance.png" alt="Dance">

    moviesss


<!--      
    <% if(!username) {%>
        <h5>Please, log in</h5>
    <% }else {%>
        <h5>Welcome, <%= username %></h5>
    <% } %>


    <ul>
        <% for (const product of list) { %>
            <li> <%= product %></li>
        <% } %>
    </ul> -->
    
</div>

    <script src="public/index.ejs"></script>
</body>
</html> 