<!DOCTYPE html> <!-- siame dukemnte patekiami duomenys is serverio -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="public/pictures/Pulp.webp">
    <link rel="stylesheet" href="public/main.css">
</head>
<body>
    <%- include("./components/nav-bar.ejs")%>
    <div class="container">
    <img src="public/pictures/dance.png" alt="Dance">
     
    <% if(!username) {%>
        <h5>Please, log in</h5>
    <% }else {%>
        <h5>Welcome, <%= username %></h5>
    <% } %>


    <ul>
        <% for (const product of list) { %>
            <li> <%= product %></li>
        <% } %>
    </ul>
    
    </div>

    <script src="public/index.js"></script>
</body>
</html> 