<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="../public/pictures/Pulp.webp">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../public/title.css">
    <link rel="stylesheet" href="../public/nav-bar.css">
    <link rel="stylesheet" href="../public/grid.css">
    <link rel="stylesheet" href="../public/login-form.css">    
</head>
<body>
    <%- include("./components/title.ejs")%>
    <div class="hr"></div>
    <%- include("./components/nav-bar.ejs")%>
    <div class="hr"></div>

    <div class="container gap-from-top">
        <div class="login">
            <form action="/api/user/login" method="post">
                <h4 class="title-account">Log In</h4>
                <%- include("./components/errorMessage.ejs") %>
                <div>
                    <label>
                        <span>Username or Email</span><input type="text" name="loginName"/>
                    </label>
                </div>
                <div>
                    <label>
                        <span>Password</span><input type="password" name="password"/>
                    </label>
                </div>
                <button class="register-button">Log in</button>
                <div class="no-account">
                    <a href="/register">Still don't have an account?</a>
                </div>
            </form>
            <div class="image-container">
                <img src="../public/pictures/poster.jpg" alt="Dance">
            </div>
        </div>
    </div>
    <script src="../public/index.js"></script>
</body>
</html>