<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="../public/pictures/Pulp.webp">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../public/grid.css">
    <link rel="stylesheet" href="path/to/tailwind.css">
    <link rel="stylesheet" href="../public/post.css">
</head>
<body>
    <%- include("./components/title.ejs")%>
    <div class="hr"></div>
    <%- include("./components/nav-logged")%>
    <div class="hr"></div>
    <div class="container gap-from-top">
        <section class="post bg-frame">
            <%- include("./components/errorMessage.ejs") %>
            <form action="/api/post" method="post">
                <input type="text" name="title" placeholder="Post title here..." class="inline-block my-4 outline-none w-full rounded py-2 px-4"/>
                <textarea name="content" id="text-editor" placeholder="Type post content here..." cols="30" rows="10" class="outline-none rounded py-2 px-4"></textarea>
                <button class="register-button my-5">Register</button>
            </form>
            <fieldset class="border border-gray-400 rounded-3xl">
                <legend>Post preview</legend>
                <div id="preview"></div>
            </fieldset>  
        </section>
    </div>
    <script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
    <script src="/public/tinymce-config.js"></script>
    <script src="../public/index.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html> 