.container {
	background-color: rgb(249, 248, 248);
	padding: 1rem;
}

div {
	margin-bottom: 0.5rem;
}

div label span {
	display: inline-block;
	width: 15%;
}

label input {
	width: 40%;
	padding: 0.25rem;
	border-radius: 4px;
	border: 1px solid black;
}

label input:focus {
	outline: 2px solid rgb(190, 231, 251);
}