
.container {
    margin: 0 auto;
    width: 85%;
    min-height: 35%;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    color: aliceblue;
  }
  .gap-from-top {
    margin-top: 40px;
  }

  .welcomeMessage {
    font-size: 20px;
    margin: 40px 10px;
    color: rgb(158, 161, 164);
  }
 
  h4 {
    font-weight: 100;
    font-size: 16px;
    margin-left: 20px;
  }
  h4 a{
    margin-left: 6px;
    font-size: 18px;
  }
  .bi-box-arrow-in-right:hover {
  font-size: 20px;
  transition: 0.1s ease; 
  }

  /* table */
  p {
    margin: 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #6b686c17;
    font-size: 10px;
    box-shadow: 1px 1px 10px rgba(164, 200, 232, 0.539);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  th {
    text-align: left;
    font-weight: 100;
    font-size: 20px;
  }
  .round-left {
    border-top-left-radius: 30px;
    padding-left: 6rem;
  }
  .round-right {
    border-top-right-radius: 30px;
  }
  tr th {
    background-color: #aaa0ad38;
    color: aliceblue;
  }
  th {
    padding: 0.8rem 0.8rem;    
  }
  tbody tr {
    border-bottom: 0.10px solid #b7b7b7;
  }
  /* details */
  .post {
    display: flex;
    /* gap: 1rem; */
  }
  .post img {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    margin: 10px 20px;
  }
  .topic a {
    color: aliceblue;
    font-size: 16px;
  }
  .author {
    color: rgb(135, 132, 132);
    font-size: 14px;
    text-decoration: none;
  }
  .author a {
    color:rgb(211, 199, 183);
    font-size: 14px;
    text-decoration: none;
  }
  .topic-details {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
  }
  .topic-details a:hover {
    text-decoration: underline;
    text-shadow: none;
  }
  .single-number {
    /* background-color: #c5a5ca78; */
    /* border: 1px solid rgb(105, 108, 110); */
    border-radius: 15%;
    box-shadow: 0px 0px 2px rgba(164, 200, 232, 0.539);
    color: rgb(219, 209, 209);
    width: fit-content;
    text-align: center;
    padding: 0.5rem;
    margin: 20px;
    font-size: 20px;
  }
  .author-outline {
    text-decoration: none;
    color:rgb(211, 199, 183);
    margin: 0;
    font-size: 60px;
  }
  .author-outline:visited {
    text-decoration: none;
    color:rgb(211, 199, 183);
  }
  .author-outline:hover {
    text-shadow: none;
    color:rgb(161, 153, 141);
  }
  .author-outline::after {
    content: "";
    display: block;
    height: 0.1rem;
    width: 100%;
    background-color: #fdd8088d;
  }
  .last-post span  {
    font-size: 13px;
  }
  .last-post .date {
    font-size: 13px;
    margin-bottom: 1rem;
  }
  .last-post  {
    margin-top: 1rem;
  }
  .message {
    background-image: linear-gradient(135deg, #4d9b4f64 0%, rgba(24, 103, 36, 0) 100%);
    min-width: 330px;
    word-wrap: break-word;
    color: rgb(201, 230, 219);
    border-radius: 13px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 15px;
}

  .error {
    background-image: linear-gradient(135deg, #5a152e93 0%, rgba(103, 24, 78, 0.106) 100%);
    min-width: 330px;
    word-wrap: break-word;
    color: rgba(240, 248, 255, 0.705);
    border-radius: 13px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 15px;
  }