.container {
    margin: 0 auto;
    width: 100%;
	min-height: 25rem;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
  }
.gap-from-top {
	margin-top: 100px;
}
.title-account {
    font-weight: 100;
    font-size: 30px;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 10px;
    text-align: center;
}
.login {
    background-color: #dfcfe337;
    margin-bottom: 10rem;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 555px;
    box-shadow: 1px 1px 16px rgba(164, 200, 232, 0.539);
}
.image-container img {
    width: 550px;
    height: auto;
    margin: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
 }
form {
    padding: 20px 20px 0 30px;
    font-size: 14px;
    display: flex;
	flex-direction: column;
    min-width: 270px;
    margin-top: 70px;
    
}
div label span {
	display: inline-block;
    padding-bottom: 7px;
}
label input {
    width: 90%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid rgb(96, 91, 91);
    background-color: #d1c1ce6c;
    color: antiquewhite;
    margin-bottom: 10px;
}
label input:focus {
    outline: 1px solid aliceblue;
    color: antiquewhite;
    box-shadow: 1px 1px 16px rgba(164, 200, 232, 0.539);
}
.register-button{
    background-color: #1b0f1c;
    color: aliceblue;
    border: none;
    border-radius: 6px;
    padding: 0.6rem 1rem;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    box-shadow: 1px 0px 4px rgba(164, 200, 232, 0.539);
}
.register-button:hover{
    background-color: rgb(24, 15, 24);
    text-shadow: 0px 0px 2px rgba(170, 178, 185, 0.539);
    font-size: 13px; 
    transition: 0.1s ease; 
}
.no-account  {
    text-align: center;
    margin-top: 10px;
}
.no-account a {
	text-decoration: none;
    color: rgb(166, 175, 182);
    font-size: 14px;
}
.no-account a:hover {
    color: #dec225;
    text-shadow: none;
    font-size: 13px; 
    transition: 0.1s ease; 
}


