
@import url(https://db.onlinewebfonts.com/c/15b543784a28c07ac981cee1d665fbb3?family=RamaSlabMW01-Heavy);

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: rgb(247, 244, 246);
  background-image: linear-gradient(0deg, #2f2836 2%,  #060607 100%);}

/* Title */
.intro {
  display: flex;
  flex-direction: row;
  justify-content:flex-start
}
img {
  margin-top: 10px;
  width: 14%;
  height: 14%;
  }
.title {
  color: #fdd808;
  font-family: RamaSlabMW01-Heavy, "Courier New", Courier, monospace;
  font-size: 70px;
  letter-spacing: 2px;
  text-decoration: none;
  margin-right: 20px;
  text-shadow: -2px 3px 2px #f9341e;
}

span {
  color: #fdd808;
  font-family: RamaSlabMW01-Heavy;
  font-size: 30px;
  letter-spacing: 3px;
  text-decoration: none;
  margin-right: 20px;
  text-shadow: -2px 1px 2px #f9341e;
}




/* Navbar */
.hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, #5da5c9a7, #d494de8f, #395a84c8, #d161cd7f, #892be274);
  width: 100%; 
  margin: 0 auto;
}
nav {
  height: 100px;
  padding: 25px 20px 0px 20px;
  /* background-image: linear-gradient(0deg, #2f2836 0%, #060607 100%); */
}
a {
  color: #c3af3e;
  font-family: RamaSlabMW01-Heavy, "Courier New", Courier, monospace;
  font-size: 30px;
  letter-spacing: 2px;
  text-decoration: none;
  margin-right: 20px;
  /* text-shadow: 0 0 3px #f9341e, 0 0 5px #0000FF; */
  /* text-shadow: -2px 3px 2px #f9341e; */
}
a:visited {
    background-color: grey;
    color: #fdd808;
}
a:hover {
  color: #fdf5fcda;
  text-shadow: none;
}


/* content */
.container {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 70px;
}

















