
@import url(https://db.onlinewebfonts.com/c/15b543784a28c07ac981cee1d665fbb3?family=RamaSlabMW01-Heavy);

body {
  background-color: rgb(156, 149, 149);
  margin: 0;
  padding: 0;
  background-color: rgba(8, 8, 8, 0.932);
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 70px;
}
nav {
    background-color: rgb(8, 8, 8);
    color: #fdd808
}

a {
  color: #fdd808;
  font-family: RamaSlabMW01-Heavy, "Courier New", Courier, monospace;
  font-size: 40px;
  letter-spacing: 2px;
  text-decoration: none;
  margin-right: 20px;
  /* text-shadow: 0 0 3px #f9341e, 0 0 5px #0000FF; */
  text-shadow: -2px 3px 2px #f9341e;



}
a:visited {
    background-color: grey;
    color: #fdd808
}
a:hover {
    color: rgba(232, 239, 96, 0.961);
    text-shadow: none;
}

img {
  width: 20%;
  }
















