body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: rgb(233, 214, 227);
  background-image: linear-gradient(0deg, #2f2836 2%,  #060607 100%);
  background-size: cover;
  background-attachment: fixed; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
	transition:   background-image 0.3s;
	position: sticky;
	top: 0px;
  height: 35px;
  padding: 12px 20px 5px 20px;
}
.right-links-logo a {
  display: none; 
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 85%;
  min-height: 35%;
}
.hr {
  height: 1px;
  background: linear-gradient(to right, #5da5c971, #d494de68, #395a8483, #d494de68, #5da5c971);
  width: 100%; 
  margin: 0 auto;
  box-shadow: 0px 0px 3px rgba(164, 200, 232, 0.539);
}
.left-links {
  display: flex;
  align-items: center;
  gap: 30px
}
.right-links {
  color: al;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.frame {
  background-color: #2f2836;
  padding: 3px 20px 6px 20px;
  border-radius: 30px;
  margin: 0;
}
.right-links a:hover {
  color: aliceblue;
  font-size: 19px;
  text-shadow: none;
}
a {
  color: #fdd808;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
}
a:visited {
    color: #fdd808;
}
a:hover {
  color: aliceblue;
  text-shadow: 0px 0px 2px rgba(170, 178, 185, 0.539);
  font-size: 18px; 
  transition: font-size 0.1s ease; 
}
a[data-tooltip]:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #2f2836;
  color: aliceblue;
  text-shadow: none;
  padding: 5px;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 35px;
  white-space: nowrap;
}

@media (max-width: 1230px) {
  .left-links {
    position: relative; 
  }
}
@media (max-width: 730px) {
  .right-links a {
    display: none; 
  }
  .right-links-logo {
    display: flex;
    flex-direction: row;
  }
  .right-links-logo a {
    display: block; 
    font-size: 32px;
  }
}




