
.container {
	margin: 0 auto;
	font-family:Arial, Helvetica, sans-serif;
	color: aliceblue;
	width: 90%;
	display: flex;
	justify-content: center;
}
.gap-from-top {
    margin-top: 100px;
  }
.profile-info {
	background-color: #847c896e;
	box-shadow: 1px 1px 10px rgba(164, 200, 232, 0.539);	
	border-radius: 30px;
	margin-bottom: 100px;
	padding: 30px 70px;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.profile-photo {
	max-width:100%; 
	height: auto; 
	overflow: hidden;
	border-radius: 100%;
	border: 1px solid gray;
	box-shadow: 0px 0px 5px rgba(164, 200, 232, 0.539);
  }
.profile-photo img {
	margin: 0;
	width: 280px;
	height: 280px;
	object-fit: cover;
}
.heading {
	font-weight: 200;
    font-size: 22px;
	border-bottom: 2px solid #1f1422a4;
    padding-bottom: 15px;
    text-align: center;
	width: 130%;
}
.data-row {
    display: flex;
	justify-content:space-between;
	gap: 100px;
	padding: 6px;
}
.thumbs {
    display: flex;
	justify-content:center;
	gap: 50px;
	font-size: 20px;
}
.thumbs-up {
	color: #15e854;
	cursor: pointer;
}
.thumbs-down {
	color: rgb(223, 42, 93);
	cursor: pointer;
}
.standart-button{
	background-color: #fdd808bd;
	color: aliceblue;
	border: none;
	border-radius: 6px;
	padding: 0.6rem 1rem;
	cursor: pointer;
	font-size: 14px;
	margin-top: 25px;
}
.standart-button:hover{
	background-color: #f6c70bd2;
	text-shadow: 0px 0px 2px rgba(170, 178, 185, 0.539);
	font-size: 13px; 
	transition: 0.1s ease; 
}
.error {
	width: 95%;
	font-size: 14px;
	word-wrap: break-word;
	background-image: linear-gradient(135deg, #5a152eba 0%, rgba(103, 24, 78, 0.218) 100%);
	color: rgba(240, 248, 255, 0.845);
	border-radius: 15px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	margin-bottom: 10px;
	align-self: center;
}