.container {
    margin: 0 auto;
    width: 100%;
    font-size: 30px;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}
.gap-from-top {
    margin-top: 100px;
}
.title-account {
    font-weight: 100;
    font-size: 30px;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}
.register {
    background-color: #4b4450;
    margin-bottom: 100px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 615px;
    box-shadow: 0px 0px 8px rgba(164, 200, 232, 0.539);
}
.image-container img {
   width: 550px;
   height: auto;
   margin: 0;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   
}
.register-form {
    padding: 30px 20px 0 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-width: 270px;
}
.register div span {
    display: block;
    padding-bottom: 7px;
}
label input {
    width: 90%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid rgb(96, 91, 91);
    background-color: #b8aab66c;
    color: rgba(240, 248, 255, 0.836);
    margin-bottom: 10px;
}
label input:focus {
    outline: 0px solid rgba(240, 248, 255, 0.19);
    color: rgba(240, 248, 255, 0.836);
    box-shadow: 0px 0px 7px rgba(164, 200, 232, 0.539);
}
/* button */
.register-button{
    background-color: #1b0f1cdd;
    color: aliceblue;
    border: none;
    border-radius: 6px;
    padding: 0.6rem 1rem;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    box-shadow: 0px 0px 2px rgba(164, 200, 232, 0.539);
}
.register-button:hover{
    background-color: rgb(24, 15, 24);
    text-shadow: 0px 0px 2px rgba(170, 178, 185, 0.539);
    font-size: 13px; 
    transition: 0.1s ease; 
}
/* choose file */
.file-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.custom-file-input {
    background-color: #1b0f1cdd;
    width: 100px;
    color: aliceblue;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 14px;
}
.custom-file-input:hover{
    background-color: rgb(24, 15, 24);
    text-shadow: 0px 0px 2px rgba(170, 178, 185, 0.539);
    font-size: 13px; 
    transition: 0.1s ease; 
}
#selected-file-name {
    font-size: 13px;
    color: aliceblue;
}
#profile-photo {
    display: none; 
}
/* link */
.standart-link  {
    text-align: center;
    margin-top: 20px;
}
.standart-link a {
	text-decoration: none;
    color: rgb(166, 175, 182);
    font-size: 14px;
}
.standart-link a:hover {
    color: #dec225;
    text-shadow: none;
    font-size: 13px; 
    transition: 0.1s ease; 
}
.error {
    max-width: 230px;
    word-wrap: break-word;
    background-image: linear-gradient(135deg, #5a152e93 0%, rgba(103, 24, 78, 0.106) 100%);
	color: rgba(240, 248, 255, 0.705);
	border-radius: 13px;
	padding: 0.5rem 1rem;
	cursor: pointer;
    margin-bottom: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(126, 115, 124) inset !important;
    -webkit-text-fill-color: aliceblue !important;
    color: rgba(240, 248, 255, 0.836) !important;
}
input::placeholder{
    color: rgb(175, 179, 183);
}